@import url("https://fonts.googleapis.com/css2?family=Homenaje&family=Jost:wght@400;500&display=swap");

:root {
  --background: #191919;
  --player: #1e1e1e;
  --black: #000;
  --charcoalgrey: #5e5e5e;
  --silver: #b8b8b8;
  --white: #fff;
  --red: #e60e0e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
div#root,
.app,
.page__add-music {
  background-color: var(--background);
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
  display: flex;
}

.page__add-music {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

.page__add-music h2 {
  color: var(--white);
  font-family: "Jost", sans-serif;
  font-weight: 500;
}

.page__add-music input {
  font-family: "Jose", sans-serif;
  font-size: large;
  padding-left: 20px;
  border: none;
  border-radius: 32px;
  width: 400px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 0;
}

.page__add-music input:focus {
  outline: none;
}

.page__add-music iframe {
  background-color: var(--black);
  border: none;
  margin-bottom: 10px;
}

.sidebar {
  background-color: var(--black);
  flex-grow: 1;
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar a {
  user-select: none;
  font-size: larger;
  font-family: "Jost", sans-serif;
  color: var(--white);
  font-weight: 400;
  text-decoration: none;
  width: 100%;
  padding-top: 20px;
  margin-left: 50px;
  display: flex;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.svg-icon {
  width: 30px;
  filter: invert(100%);
  margin-right: 20px;
}

.player {
  position: fixed;
  bottom: 0;
  background-color: var(--player);
  width: 100%;
  min-height: 140px;
  max-height: 140px;
}

.logo {
  user-select: none;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: xx-large;
  color: var(--white);
  font-family: "Homenaje", sans-serif;
  font-weight: 500;
  display: flex;
}

.logo img {
  padding-right: 10px;
  width: 50px;
}

.bg-red {
  background-color: var(--red);
}

.bg-grey {
  background-color: var(--charcoalgrey);
}

.bg-black {
  background-color: var(--black);
}

.fg-white {
  color: var(--white);
}

button {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
  font-family: "Jose", sans-serif;
  font-size: medium;
}

.buttons-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-group button {
  margin: 5px;
}

.hidden {
  display: none;
}

.track {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  gap: 20px;
}

.track .track-title {
  color: var(--white);
}

.track .track-author {
  color: var(--silver);
}

.track .track-thumbnail {
  width: 200px;
}
